.home-blog
  .hero
    color #F3E5F5
    h1
      font-size 3rem!important
      text-shadow 0 0 10px #9C27B0
    .description
      // text-transform uppercase
      text-shadow 0 0 10px #9C27B0
.home-blog .category-wrapper,
.abstract-wrapper
  a
    color #8E24AA!important
.child_info
  h2::before
    border 0